<!DOCTYPE html>
<html lang="ko"
    xmlns:th="http://www.thymeleaf.org"
    th:fragment="FooterFragment">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
	<style>
		/* 푸터 스타일 */
		footer {
			background-color: #333; /* 푸터 배경색 설정 */
			color: white; /* 글자색을 흰색으로 설정 */
			text-align: center; /* 텍스트 가운데 정렬 */
			padding: 20px; /* 내부 여백 설정 */
			width: 100%; /* 너비를 100%로 설정하여 페이지 전체에 걸치도록 설정 */
			margin-top: auto; /* 푸터가 항상 화면 하단에 위치하도록 설정 */
		}
	</style>
<body>

	<!-- 푸터 섹션 -->
	<footer>
		<p>&copy; 2024 웹사이트. 모든 권리 보유.</p>
		<!-- 전화 및 이메일 링크 -->
		<p>
			문의: <a href="tel:02-123-4567" class="text-white">02-123-4567</a> | <a
				href="mailto:support@publicinstitution.com" class="text-white">support@publicinstitution.com</a>
		</p>
	</footer>

	
</body>
</html>