<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>메인</h1>
	
	<!-- 로그인하지 않았을 때 -->
    <div th:if="${session.userId == null}">
        <a th:href="@{/login.do}">로그인</a>
        <a th:href="@{/regForm.do}">회원가입</a>
        <a th:href="@{/rsv.do}">예약</a>
    </div>
    
    <!-- 로그인했을 때 -->
    <div th:if="${session.userId != null}">
        <a th:href="@{/logout.do}">로그아웃</a>
        <a th:href="@{/rsv.do}">예약</a>
    </div>

</body>
</html>